<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiTap"
        tools:targetApi="31">
        <activity
            android:name=".Lab5.Lab5"
            android:exported="false" />
        <activity
            android:name=".Lab4.Lab4"
            android:exported="false" />
        <activity
            android:name=".Lab3.Lab3Bai2"
            android:exported="false" />
        <activity
            android:name=".Lab3.Lab3Bai1"
            android:exported="false" />
        <activity
            android:name=".Lab3.Lab3"
            android:exported="false" />
        <activity
            android:name=".Lab2.Lab2Bai3"
            android:exported="false" />
        <activity
            android:name=".Lab2.Lab2Bai2.Lab2Bai2c"
            android:exported="false" />
        <activity
            android:name=".Lab2.Lab2Bai2.Lab2Bai2b"
            android:exported="false" />
        <activity
            android:name=".Lab2.Lab2Bai2.Lab2Bai2a"
            android:exported="false" />
        <activity
            android:name=".Lab2.Lab2Bai1"
            android:exported="false" />
        <activity
            android:name=".Lab2.Lab2"
            android:exported="false" />
        <activity
            android:name=".Lab1.Lab1b.Lab1b"
            android:exported="false" />
        <activity
            android:name=".Lab1.Lab1a.DangKy"
            android:exported="false" />
        <activity
            android:name=".Lab1.Lab1a.DangNhap"
            android:exported="false" />
        <activity
            android:name=".Lab1.Lab1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>